@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Berkeley Mono';
    src: url('../fonts/BerkeleyMonoVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: Inter, sans-serif;
    --font-mono: 'Berkeley Mono', ui-monospace, SFMono-Regular, Menlo, monospace;
}

@theme {
    --color-accent: var(--color-blue-600);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-zinc-600);
        --color-accent-content: var(--color-zinc-600);
        --color-accent-foreground: var(--color-white);
    }
}
