@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, sans-serif;
}

@theme {
    --color-zinc-25: #fdfdfd;
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e9eaeb;
    --color-zinc-300: #d5d7da;
    --color-zinc-400: #a4a7ae;
    --color-zinc-500: #717680;
    --color-zinc-600: #535862;
    --color-zinc-700: #414651;
    --color-zinc-800: #252b37;
    --color-zinc-900: #181d27;
    --color-zinc-950: #0a0d12;

    --color-blue-25: #f5f8ff;
    --color-blue-50: #eff4ff;
    --color-blue-100: #d1e0ff;
    --color-blue-200: #b2ccff;
    --color-blue-300: #84adff;
    --color-blue-400: #5288ff;
    --color-blue-500: #2970ff;
    --color-blue-600: #155eef;
    --color-blue-700: #004eeb;
    --color-blue-800: #0040c1;
    --color-blue-900: #00359e;
    --color-blue-950: #002266;

    --color-green-25: #f6fef9;
    --color-green-50: #edfcf2;
    --color-green-100: #d3f8df;
    --color-green-200: #aaf0c4;
    --color-green-300: #73e2a3;
    --color-green-400: #3ccb7f;
    --color-green-500: #16b364;
    --color-green-600: #099250;
    --color-green-700: #087443;
    --color-green-800: #095c37;
    --color-green-900: #084c2e;
    --color-green-950: #052e1c;

    --color-red-25: #fffbfa;
    --color-red-50: #fef3f2;
    --color-red-100: #fee4e2;
    --color-red-200: #fecdca;
    --color-red-300: #fda29b;
    --color-red-400: #f97066;
    --color-red-500: #f04438;
    --color-red-600: #d92d20;
    --color-red-700: #b42318;
    --color-red-800: #912018;
    --color-red-900: #7a271a;
    --color-red-950: #55160c;

    --color-yellow-25: #fffcf5;
    --color-yellow-50: #fffaeb;
    --color-yellow-100: #fef0c7;
    --color-yellow-200: #fedf89;
    --color-yellow-300: #fec84b;
    --color-yellow-400: #fdb022;
    --color-yellow-500: #f79009;
    --color-yellow-600: #dc6803;
    --color-yellow-700: #b54708;
    --color-yellow-800: #93370d;
    --color-yellow-900: #7a2e0e;
    --color-yellow-950: #4e1d09;
}

@theme {
    --color-accent: var(--color-green-600);
    --color-accent-content: var(--color-green-700);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-green-500);
        --color-accent-content: var(--color-green-400);
        --color-accent-foreground: var(--color-white);
    }
}
